.main-content-wrapper {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.TJ {

}

.Brock {

}

.Taylor {
  
}