$dev-mtn-blue: #2aabe2;
$nav-background-color: #444444;

.card-slider-display-main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: whitesmoke;
}
.card-with-arrows{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    //border: solid black 1px;
    width: 70vw;
    button{
       background-color: whitesmoke;
       color: $dev-mtn-blue;
       width: 75px;
       height: 50px;
       box-shadow: none;
       border: none;
       border-radius: 2px;
       margin-top: 183px;
   }
   
    }
 #card-wrapper{
        //border: solid black 1px;
        height: 62vh;
        width: 60vw;
        display: flex;
        flex-direction: column;
        align-items: center;    
        }
#card-display{
        height: 50vh;
        width: 50vw;
        border: solid black 1px;
        background-color: white;
       
            } 
 #button-wrapper{
           //border: solid black 1px;
           color: white;
           width: 50vw;
           display: flex;
           justify-content: center;
        #x{
           background-color: $dev-mtn-blue;
           color: white;
           height: 50px;
           width: 50px;
           margin: 25px;
    }
        #plus{
           background-color: $dev-mtn-blue;
           color: white;
           margin: 25px;
           height: 50px;
           width: 50px;
    }
                }