$dev-mtn-blue: #2aabe2;
.home-page-title {
    background: url("../app/assets/devmountain_class_pic.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 25px 0;
    h1 {
        font-weight: 300;
        font-size: 2.5em;
    }
    p {
        width: 50vw;
        font-size: 16px;
        line-height: 23px;
    }
    button {
        background-color: #2aabe2;
        height: 70px;
        width: 200px;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: white;
        font-size: 24px;
        border: none;
        margin-top: 30px;
    }
}

.about-section-main-wrapper {
    color: gray;
    font-weight: 300;
    h1 {
        line-height: 1px;
        border-bottom: 2px solid lightgray;
        text-align: center;
        margin-top: 120px;
        font-size: 47px;
        font-weight: 300;
        span {
            background: white;
            padding: 40px;
        }
    }
    p {
        text-align: center;
        width: 54vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 75px;
        padding-top: 25px;
        line-height: 34px;
        font-size: 23px;
    }
}

.demo-block {
    display: flex;
    align-items: space-around;
    margin-top: 10px;
    margin-bottom: 125px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: gray;
    font-weight: 300;
    line-height: 25px;
    div {
        width: 48vw;
        border: solid black 1px;
    }
    p {
        width: 35vw;
        font-size: 29px;
        line-height: 52px;
    }
}

.video {
    height: 100%;
    width: 100%;
}