$dev-mtn-blue: #2aabe2;

.home-page-title{
    background: url("../app/assets/devmountain_class_pic.jpg") no-repeat;
    background-size: 100%;
    width: 100%;
    height: 65vh;
    border: solid black 1px;
    color: white;
    text-align: center;
    h1{
    font-weight: 900;
    }
    p{
        width: 50vw;
    }
    button{
        background-color: #2aabe2;
        height: 70px;
        width: 200px;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: white;
        font-size: 24px;
        border: none;
    }
}