.profile-page-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 84vw;
    margin-top: 125px;
}

.sessions-container {
    // border: black solid 1px;
    display: flex;
    flex-direction: column;
    height: 55vh;
    width: 45vw;
    justify-content: space-around;
}

.session-button {
    display: flex;
    justify-content: space-between;
    span{
        display: flex;
        align-items: center;
        font-size: 44px;
        color: gray;
    }

}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

h2 {
    padding: 30px;
}
.profile-page-wrapper {
    border: black solid 1px;
    // background-size: cover;
    // width: 100vw;
    // text-align: center;
    display: flex;
    // justify-content: space-around;
    // align-items: center;
    // align-content: center;
    // flex-direction: row;
}

#profile-side-nav{
    height: 90vh;
}