<div class="profile-page-wrapper">
    <div id='profile-side-nav'>
        <side-nav class="side-nav-container"></side-nav>
    </div>
    <div class='profile-page-container'>


        <h1>Welcome Back {{userProfile}}</h1>

        </hr>

        <h2>Current Sessions</h2>

        <div class='sessions-container'>
                <div class="session-button" ng-repeat="quiz in quizes">
                    <span>{{quiz.quiz_name}}</span>
                    <button ui-sref="flashCards" ng-model="quiz.quiz_name" ng-click="restartSession(quiz)">Continue</button>
                </div>
        </div>

    </div>
</div>