<div class="profile-page-wrapper">
    <side-nav class="side-nav-container"></side-nav>
    <div class='profile-page-container'>


        <h1>Welcome Back {{userProfile}}</h1>

        </hr>

        <h2>Current Sessions</h2>

        <div class='sessions-container'>
            <ul>
                <div class="session-button" ng-repeat="quiz in quizes">
                    <p>{{quiz.quiz_name}}</p>
                    <button ui-sref="flashCards" ng-model="quiz.quiz_name" ng-click="restartSession(quiz)">Continue</button>
                </div>
            </ul>
        </div>

    </div>
</div>