  <div class='side-nav'>
        <ul>
            <p>Start New Session</p>
            <a ng-click="showMenu()" class='side-nav-effect'>Javascript</a>
                <div ng-show='showSubMenu' class='sub-menu'>
                <a ui-sref="flashCards({id: 'JavaScript Basic'})" ng-click="reset()" class='side-nav-effect'>Beginner</a>
                <a ui-sref="flashCards({id: 'JavaScript Advanced'})" ng-click="reset()" class='side-nav-effect'>Advanced</a>
                <a ui-sref="flashCards({id: 'JavaScript'})" ng-click="reset()" class='side-nav-effect'>All</a>
                </div>
            <a ui-sref="flashCards({id: 'React'})" ng-click="reset()" class='side-nav-effect'>React</a>            
            <a ui-sref="flashCards({id: 'CSS'})" ng-click="reset()" class='side-nav-effect'>CSS</a>
            <a ui-sref="flashCards({id: 'HTML'})" ng-click="reset()" class='side-nav-effect'>HTML</a>
            <a href="/api/logout" class='side-nav-effect' style="border: none">Logout</a>
        </ul>
</div>
