  <div class='side-nav'>
        <h3>Menu</h3>
        <ul>
            <a ng-click="showMenu()">Javascript</a>
                <div ng-show='showSubMenu' class='sub-menu'>
                <a ui-sref='flashCards' ng-click="recJsBasicData()">Beginner</a>
                <a ui-sref='flashCards' ng-click="recJsAdvancedData()">Advanced</a>
                <a ui-sref='flashCards' ng-click="recJsAllData()">All</a>
                </div>
            <a ui-sref='flashCards' ng-click="recCssData()">CSS</a>
            <a ui-sref='flashCards' ng-click="recHtmlData()">HTML</a>
        </ul>
    </div>