<div class='card-slider-display-main'>
    <side-nav class="side-nav-container"></side-nav>
    <div class='card-container'>
        <div class="progress-bar">
            <progress ng-show="showCard" value="{{data.progress}}" max="100"></progress>
            <div>{{counter}} <span ng-show="showCard">/</span> {{arrayLength}}</div>
        </div>
        <div class='card-with-arrows'>
            <div class="card-button-wrapper" ng-show="showCard">
                <div id="card-wrapper">
                    <button ng-show="!backButtonShow"><i class="fa fa-chevron-left fa-4x" style="color: whitesmoke"aria-hidden="true"></i></button>
                    <button ng-click="dec(); toggleDataDec(); toggleNextButton(); toggleBackButton()" ng-show="backButtonShow"><i class="fa fa-chevron-left fa-4x" aria-hidden="true"></i></button>
                    <div id="card-display">
                        <label>
                            <input type="checkbox"  />
                            <div class="card">
                                <div ng-if="showZero" class="front">{{startData.term}}</div>
                                <div ng-if="showInc" class="front">{{incData.term}}</div>
                                <div ng-if="showDec" class="front">{{decData.term}}</div>
                                <div ng-if="showZero" class="back">{{startData.definition}}</div>
                                <div ng-if="showInc" class="back">{{incData.definition}}</div>
                                <div ng-if="showDec" class="back">{{decData.definition}}</div>
                                                                
                            </div>
                        </label>
                    </div>

                    <button ng-click="inc(); toggleDataInc(); toggleBackButton(); toggleNextButton()" ng-show="nextButtonShow"><i class="fa fa-chevron-right fa-4x" aria-hidden="true"></i></button>
                </div>
                <div id="button-wrapper">
                    <button id="x"><i class="fa fa-times fa-2x" aria-hidden="true" ng-click="toggleWrongChecked(); sendCheckedData()"></i></button>
                        <div class="wrong-button-wrapper" ng-show="wrongChecked"></div>
                    <button id="plus"><i class="fa fa-check fa-2x" aria-hidden="true" ng-click="toggleRightChecked(); sendCheckedData()"></i></button>
                        <div class="right-button-wrapper" ng-show="rightChecked"></div>
                </div>
            </div>
        </div>
        <div class="start-button" ng-show="startButton">
            <h1>START TRAINING</h1>
            <button ng-click="checkTypeRestart()">START</button>
        </div>
        <button id="save" ng-click="saveSession()">Save Progress</button>
    </div>

</div>