 <div class='home-page-title'>
        <h1>Welcome to the pre-course study aids</h1>
        <p>
            This section will help you study and refine your basic knowledge of the core concepts covered in the pre-course material.
            Use this section like you would flash cards in order to solidify and refine your knowledge and skills
        </p>
        <a href="/api/login"><button>Get Started</button></a>
    </div>
    <div class='about-section-main-wrapper'>
        <h1><span>About</span></h1>
            <p>Though many concepts may make sense the first time you see them, repitiion will only further engrain them in your brain, so that you may call upon them as tools in your future experince as a coder.  Having many solutions to a particular problem will only make your life easier.  Flash cards are one of the best ways to engrain the vocabulary and syntax recognition.  Since coding is what we do we decided to save you paper and time by creating this simple little app to help you really lockdown this information before hitting the keyboard on the first day of your cohort.  Please, you cannot overuse these.
            </p>
    </div>
    <div class='demo-block'>
       <div class='video'>video</div>
       <p>
           Poop on grasses a nice warm laptop for me to sit on lick sellotape. Purr eat all the power cords flop over, so intrigued by the shower, or chase red laser dot, and cat not kitten around and poop in the plant pot. Eat prawns daintily with a claw then lick paws clean wash down prawns with a lap of carnation milk then retire to the warmest spot on the couch to claw at the fabric before taking a catnap destroy couch as revenge for wake up human for food at 4am yet lie in the sink all day but hide when guests come over give me attention or face the wrath of my claws. Claw drapes the dog smells bad yet lie in the sink all day or poop in the plant pot throwup on your pillow rub face on owner.
        </p>
    </div>
     <div class='demo-block'>
       <p>
           Poop on grasses a nice warm laptop for me to sit on lick sellotape. Purr eat all the power cords flop over, so intrigued by the shower, or chase red laser dot, and cat not kitten around and poop in the plant pot. Eat prawns daintily with a claw then lick paws clean wash down prawns with a lap of carnation milk then retire to the warmest spot on the couch to claw at the fabric before taking a catnap destroy couch as revenge for wake up human for food at 4am yet lie in the sink all day but hide when guests come over give me attention or face the wrath of my claws. Claw drapes the dog smells bad yet lie in the sink all day or poop in the plant pot throwup on your pillow rub face on owner.
        </p>
       <div class='video'>video</div>
    </div>