 <div class='home-page-title'>
        <h1>Welcome to the pre-course study aids</h1>
        <p>
            This section will help you study and refine your basic knowledge of the core concepts covered in the pre-course material.
            Use this section like you would flash cards in order to solidify and refine your basic knowledge and skills
        </p>
        <button>Get Started</button>
    </div>
    <div class='about-section-main-wrapper'>
        <h1><span>About</span></h1>
        <p>Though many concepts may make sense the first time you see the, repitiion will engrain them in your brain so that you may call upon them as tools in your future experince as a coder.  Having many solutions to a particular problem will only make your life easier.  Flash cards are one of the best ways to engrain the vocabulary and syntax recognition.  Since coding is what we do we decided to save you paper and time by creating this simple little app to help you really lockdown this information before hitting the keyboard on the first day of your cohort.</p>
    </div>
