<div class='home-page-title'>
    <h1>Welcome to the pre-course study aids</h1>
    <p>
        This section will help you study and refine your basic knowledge of the core concepts covered in the pre-course material.
        Use this section like you would flash cards in order to solidify and refine your knowledge and skills
    </p>
    <a href="/api/login"><button>Get Started</button></a>
</div>
<div class='about-section-main-wrapper'>
    <h1><span>About</span></h1>
    <p>Though many concepts may make sense the first time you see them, repitiion will only further engrain them in your brain,
        so that you may call upon them as tools in your future experince as a coder. Having many solutions to a particular
        problem will only make your life easier. Flash cards are one of the best ways to engrain the vocabulary and syntax
        recognition. Since coding is what we do we decided to save you paper and time by creating this simple little app
        to help you really lockdown this information before hitting the keyboard on the first day of your cohort. Please,
        you cannot overuse these.
    </p>
</div>
<div class='demo-block'>
    <div class='video'>
        <video class='video' autoplay loop>
            <source ng-src="./app/assets/flashcard-vid1.mp4" type="video/mp4">
        </video>
    </div>
    <p>
        Using the flash cards is simple. Just hover over the card to flip to the answer, and when you are ready to switch to a new
        card, press the next arrow. If you need to go back for any reason, press the back arrow to go to the previous card.
    </p>
</div>
<div class='demo-block'>
    <p>
        If you want to keep track of your progress, use the right and wrong button at the bottom.  You can save your progress by pressing the save progress button and can restart your session when you have time.  When you return all answers are still marked right or wrong.
    </p>
    <div class='video'>
        <video class='video' autoplay loop>
            <source ng-src="./app/assets/flashcard-vid2.mp4" type="video/mp4">
        </video>
    </div>
</div>